@model ProjeYonetim.Models.Departman

@{
    ViewData["Title"] = "Ekle";
}

<h1> Departman Ekle</h1>

<h4>Departman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ekle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartmanAdi" class="control-label"></label>
                <input asp-for="DepartmanAdi" class="form-control" />
                <span asp-validation-for="DepartmanAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
