@model ProjeYonetim.Models.YapilacaklarListesi

@{
    ViewData["Title"] = "Delete";
}



<h3>Bu görevi silmek istediğinize emin misiniz?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personel.Ad)
        </dd class>
    </dl>
    
    <form asp-action="Sil">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
