@using Microsoft.AspNetCore.Identity;
@model IdentityRole
@{
}

<h1>Rol Ekle</h1>
<hr />
<div class="row">
  <div class="col-md-12">
    <form asp-action="RolEkle" asp-controller="Kullanici" asp-area="Yonetici" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Onayla" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="RolListe" class="btn btn-primary">Listeye Dön</a>
</div>