@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
  ViewData["Title"] = "Rol Listesi";
}

<h1>Rol Listesi</h1>

<p>
  <a asp-action="RolEkle" class="btn btn-primary">Rol Ekle</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          <a asp-action="RolDuzenle" asp-route-id="@item.Id">Düzenle</a> |
          <a asp-action="RolSil" asp-route-id="@item.Id">Sil</a>
        </td>
      </tr>
    }
  </tbody>
</table>
